body {
  text-align: center;
  padding: 20px;
}

.animated-icon {
  max-width: 128px;
  margin-bottom: 20px;
}

button {
  border-radius: 2px;
  font-size: 14px;
  padding: 4px 8px;
  margin: 4px;
}

input {
  width: 100%;
}
